* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1,h2,h3 {
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h2{
    font-size: calc(1.325rem + 0.9vw);
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}
/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar-top {
    background-color: #ffff;
    border-bottom: rgb(220, 57, 45) solid 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0.75rem;
    color: rgb(174, 173, 173);

}

.navbar-top-left {
    padding: 10px;
    border-radius: 7px;
    font-size: 12px;
}

.navbar-top-left:hover {
    background-color: #e5e5e5d3;
}

.navbar-top-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-top-right a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;

}

.github-container {
    width: 40px;
    height: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.github-icon {
    width: 50%;
    height: auto;
}


.navbar-top-right a:hover {
    background-color: #e5e5e5d3;
    ;
    border-radius: 5px;
}

.free-download-btn {
    display: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(240, 227, 231);
    color: rgb(225, 100, 92);
    padding: 8px 15px;
    font-size: 12px;
}
.navbar-top-center{
    display: none;
}

.close-btn {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.close-btn:hover {
    background-color: #e5e5e5d3;

}
.navbar-links-icon{
    display: flex;
}
.navbar-links{
    display: flex;
}
.navbar-bottom {
    color: black;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 3rem;
}
.navbar-bottom-right{
    background-color:  #ffff;
    display: none;
    position: absolute;
    width: 100%;
    top: 140px;
    left: 0;
    padding: inherit;
    color: rgb(114, 114, 114);
}
.navbar-bottom-right ul{
    width: 100%;
    display: block;
    list-style-type: none;


}


.navbar-bottom-right ul li a {
    font-size: 0.9rem;
    font-weight: 700;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.navbar-bottom-right ul li a:hover {
    color: rgb(244, 98, 58);
}
.navbar-bottom-left{
    padding: 0.6rem;
    float: left;
}
.navbar-bottom-left a {
    font-size: 20px;
    font-weight: 600;
}

.navbar-bottom-left a:hover {
    color: rgb(244, 98, 58);
}

.device-icon {
    color: rgb(114, 114, 114);
    border: #ffff solid 2px;
    border-radius: 50%;
    background-color: rgb(211, 212, 214);
    margin: 0 2px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.device-icon:focus {
    border: rgb(174, 173, 173) solid 2px;
    background-color: rgb(211, 212, 214);
}

.device-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}


/* Hero */
.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),url("../assets/bg-masthead.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: calc(10rem - 4rem);
}
.wrapper{
    width: 100%;
}
.hero-content-container {
    text-align: center;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.hero-content h1 {
    overflow-y : hidden;

    color: #ffff;
    font-size: 2.25rem;
}

.hero-content p {
    overflow-y : hidden;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.15rem;
    font-weight: 200;
    margin-bottom: 3rem;

}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;

}

.hero-btn {
    background-color: rgb(244, 98, 58);
    color: #ffff;
    font-size: 0.85rem;
    font-weight: 700;
}

.hero-btn:hover {
    background-color: rgb(186, 76, 45);
}
.divider{
    height: 0.2rem;
    width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
}
.hero-hr {
    background-color: rgb(244, 98, 58);
}


/* About */
.about {
    background-color: rgb(244, 98, 58);
    color: #ffff;
    padding: 8rem 0;
    display: flex;
    justify-content: center;

}

.about-hr {
    background-color: #ffff;
}

.about-content {
    text-align: center;
    gap: 20px;
    padding: 0 1.5rem;
}


.about-content h2 {
    font-weight: 600;
}

.about-content p {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.0rem;
    margin-bottom: 1.5rem;
}

.about-btn {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 0.85rem;
    font-weight: 700;
}

.about-btn:hover {
    background-color: rgb(220, 220, 220);
}


/* Service */
.service {
    background-color: #ffff;
    padding: 8rem 0;
    color: black;
    display: flex;
    justify-content: center;
}

.service-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 0 1.5rem;
}
.service-content h2 {
    font-weight: 600;
}

.service-content p {
    color: rgba(87, 87, 87, 0.75);
    font-size: 1.0rem;
}

.service-hr {
    background-color: rgb(244, 98, 58);
}

.service-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center; 
}

.service-item {
    flex-shrink: 0;
    width: 100%;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-sizing: border-box; 
}

.service-item i {
    overflow-y: hidden;
    color: rgb(244, 98, 58);
    font-size: calc(1.375rem + 1.5vw) ;
}

.service-item h3 {
    font-size: 25px;
    font-weight: 54 0;
}

/* Portfolio */
.portfolio-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.portfolio-item {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-item:hover .portfolio-content {
    opacity: 1;

}

.portfolio-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(241, 110, 57, 0.911);
    color: white;
    text-align: center;
    transition: .3s ease;
    opacity: 0;
    gap: 5px;
}

/* Category */
.category {
    color: #dfdfdf9e;
    font-size: 15px;
    font-weight: 600;
}

.project-name {
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
}

/* Download */
.download {
    background-color: rgb(33, 37, 41);
    color: #ffff;
    padding: 8rem 0;

}

.download-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 1.5rem;
}

.download-container h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.download-btn {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 5px;
    width: 200px;
    height: 70px;
}

.download-btn:hover {
    background-color: rgb(220, 220, 220);
}

/* Information */
.info {
    background-color: #ffff;
    padding: 8rem 0;
    display: flex;
    justify-content: center;
}

.info-container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.info-hr {
    background-color: rgb(244, 98, 58);
}

.info-container p {
    color: rgb(114, 114, 114);
    margin-bottom: 3rem;
}

.info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.info-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.info-form form{
    width: 100%;
}
.info-input-container {
    position: relative;
}

.info-input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    height: 50px;
    border-radius: 10px;
    border: rgb(174, 173, 173) 1px solid;
    padding: 7px 10px;
    font-size: 15px;
}

.info-textarea {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: rgb(174, 173, 173) 1px solid;
}

.submit-btn {
    margin: 10px 0;
    background-color: rgb(246, 140, 111);
    color: #ffff;
    width: 100%;
}

.tele {
    margin: 10px;
    color: black;
    font-weight: 500;
}

.tele-icon {
    font-size: 30px;
    color: rgb(174, 173, 173);
    padding: 5px 0;
}

/* Footer */
footer {
    background-color: rgb(248, 249, 250);
}

.footer {
    color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3rem 0;
}



@media only screen and (min-width: 1px) {
    .navbar-links-icon{
        display: flex;
    }
    .navbar-links{
        display: flex;
    }
    .navbar-bottom-right{
        background-color:  #ffff;
        display: none;
        position: absolute;
        width: 100%;
        top: 140px;
        left: 0;
        padding: inherit;
    }
    .navbar-bottom-right ul{
        width: 100%;
        display: block;
    }
    .container{
        margin: 0;
    }

}
@media only screen and (min-width: 768px){
    .free-download-btn {
        display: inline;
    }
    .service-item {
        flex: 0 0 auto;
        width: 50%;
    }
    .portfolio-item {
        flex: 0 0 auto;
        width: 50%;
    }
    .container {
        max-width: 720px;
    }

}
@media only screen and (min-width: 990px){
    .hero{
        min-height: 100vh;  
    }
    .wrapper{
        width: 67%;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .navbar-links{
        display: flex;
    }
    .navbar-links-icon{
        display: none;
    }

    .navbar-bottom{
        color: rgb(211, 206, 202);
        background-color: transparent;
        justify-content: space-around;

    }
    .navbar-bottom.scrolled {
        background-color: #ffff;
        color: black;
    }
    .navbar-bottom-right{
        width: auto;
        color: inherit;
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;    
        background-color: transparent;
        float: right;
        
    }
    .navbar-bottom-right ul li {
        float: left;
    }
    .service-item{
        flex: 0 0 auto;
        width: 25%;
    }
    .portfolio-item {
        flex: 0 0 auto;
        width: 33.3%;
    }
    .container {
        max-width: 960px;
    }
    .info-form {
        flex: 0 0 auto;
        width: 50%;
    }
    .info-header {
        flex: 0 0 auto;
        width: 67%;
    }


    
}

@media only screen and (min-width: 1200px) {
    .service-item i {
        font-size: 2.5rem;
    }
    .hero-content h1 {
        font-size: 3.5rem;
    }
    .navbar-top-center{
        display: block;
    }
    .container {
        max-width: 1300px;
    }
    .info-form {
        flex: 0 0 auto;
        width: 50%;
    }
    .info-header {
        flex: 0 0 auto;
        width: 50%;
    }
    
  }
  