* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}
/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-top {
    background-color: #ffff;
    border-bottom: rgb(220, 57, 45) solid 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: rgb(174, 173, 173);

}

.navbar-top-left {
    padding: 10px;
    border-radius: 7px;
    font-size: 12px;
}

.navbar-top-left:hover {
    background-color: #e5e5e5d3;
}

.navbar-top-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-top-right a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;

}

.github-container {
    width: 40px;
    height: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.github-icon {
    width: 50%;
    height: auto;
}

.navbar-bottom.scrolled {
    background-color: #ffff;
    color: black;
}

.navbar-top-right a:hover {
    background-color: #e5e5e5d3;
    ;
    border-radius: 5px;
}

.free-download-btn {
    border: none;
    border-radius: 3px;
    background-color: rgb(240, 227, 231);
    color: rgb(225, 100, 92);
    padding: 8px 15px;
    font-size: 12px;
}

.close-btn {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.close-btn:hover {
    background-color: #e5e5e5d3;

}

.navbar-bottom {
    color: rgb(211, 206, 202);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.navbar-bottom-right ul {
    list-style-type: none;
}

.navbar-bottom-right ul li {
    float: left;
}

.navbar-bottom-right ul li a {
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.navbar-bottom-right ul li a:hover {
    color: rgb(244, 98, 58);
}

.navbar-bottom-left a {
    font-size: 20px;
    font-weight: 600;
}

.navbar-bottom-left a:hover {
    color: rgb(244, 98, 58);
}

.device-icon {
    color: rgb(114, 114, 114);
    border: #ffff solid 2px;
    border-radius: 50%;
    background-color: rgb(211, 212, 214);
    margin: 0 2px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.device-icon:focus {
    border: rgb(174, 173, 173) solid 2px;
    background-color: rgb(211, 212, 214);
}

.device-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}


/* Hero */
.hero {
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
    background: url("../assets/bg-masthead.jpg");
    background-size: cover;

}

.hero-content-container {
    background: rgba(82, 64, 52, 0.7);
    position: absolute;
    text-align: center;
    padding: 20% 25%;
    width: 100%;
    height: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-content h1 {
    color: #ffff;
    font-size: 3.5rem;
    font-weight: 500;
}

.hero-content p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.15rem;
    font-weight: 200;
    padding: 0 5%;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;

}

.hero-btn {
    background-color: rgb(244, 98, 58);
    color: #ffff;
    font-size: 0.85rem;
    font-weight: 700;
}

.hero-btn:hover {
    background-color: rgb(186, 76, 45);
}

.hero-hr {
    border: none;
    height: 2px;
    width: 50px;
    margin: 1.5rem auto;
    background-color: rgb(244, 98, 58);
    opacity: 1;
}


/* About */
.about {
    background-color: rgb(244, 98, 58);
    color: #ffff;
    padding: 8rem 28%;

}

.about-hr {
    width: 50px;
    height: 2px;
    background-color: #ffff;
    border: none;
}

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.about-content h2 {
    font-size: 30px;
    font-weight: 600;
}

.about-content p {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.0rem;
}

.about-btn {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 0.85rem;
    font-weight: 700;
}

.about-btn:hover {
    background-color: rgb(220, 220, 220);
}


/* Service */
.service {
    background-color: #ffff;
    padding: 8rem 16%;
    color: black;
}

.service-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.service-content h2 {
    font-size: 30px;
    font-weight: 600;
}

.service-content p {
    color: rgba(87, 87, 87, 0.75);
    font-size: 1.0rem;
}

.service-hr {
    width: 50px;
    height: 2px;
    background-color: rgb(244, 98, 58);
    border: none;
}

.service-list {
    margin-top: 20px;
}

.service-item {
    float: left;
    width: 25%;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.service-item i {
    color: rgb(244, 98, 58);
    width: 45px;
    height: 45px;
    font-size: 45px;
}

.service-item h3 {
    font-size: 25px;
    font-weight: 54 0;
}

/* Portfolio */
.portfolio-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.portfolio-item {
    /* float: left; */
    /* width: 33%; */
    position: relative;
    flex: 33%;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-item:hover .portfolio-content {
    opacity: 1;

}

.portfolio-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(241, 110, 57, 0.911);
    color: white;
    text-align: center;
    transition: .3s ease;
    opacity: 0;
    gap: 5px;
}

/* Category */
.category {
    color: #dfdfdf9e;
    font-size: 15px;
    font-weight: 600;
}

.project-name {
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
}

/* Download */
.download {
    background-color: rgb(33, 37, 41);
    color: #ffff;
    padding: 10%;

}

.download-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.download-container h2 {
    font-size: 30px;
    font-weight: 600;
}

.download-btn {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px 5px;
    width: 200px;
    height: 70px;
}

.download-btn:hover {
    background-color: rgb(220, 220, 220);
}

/* Information */
.info {
    background-color: #ffff;
    padding: 8rem 33%
}

.info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.info-container h2 {
    font-size: 2rem;
}

.info-hr {
    border: none;
    height: 2px;
    width: 50px;
    background-color: rgb(244, 98, 58);
    opacity: 1;
}

.info-container p {
    color: rgb(114, 114, 114)
}

.info-form {
    width: 100%;
}

.info-input-container {
    position: relative;
}

.info-input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    height: 50px;
    border-radius: 10px;
    border: rgb(174, 173, 173) 1px solid;
    padding: 7px 10px;
    font-size: 15px;
}

.info-textarea {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: rgb(174, 173, 173) 1px solid;
}

.submit-btn {
    margin: 10px 0;
    background-color: rgb(246, 140, 111);
    color: #ffff;
    width: 100%;
}

.tele {
    margin: 10px;
    color: black;
    font-weight: 500;
}

.tele-icon {
    font-size: 30px;
    color: rgb(174, 173, 173);
    padding: 5px 0;
}

/* Footer */
footer {
    background-color: rgb(248, 249, 250);
}

.footer {
    color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3%;
}